@{
  Layout = "_Layout";
}

@using DiLPr.Models;

<h1>@Model.Name</h1>



@Html.ActionLink("Edit Profile", "Edit", new { id = Model.ProfileId })
@Html.ActionLink("Add a Profile Picture", "UploadImage", new { id = Model.ProfileId })
