@model DiLPr.Models.AppUser

<div id="page-content">
  @if (User.Identity.IsAuthenticated)
  {
    <h2 style="font-size: 40px;">Hello</h2>
  }
  else
  {
      <h5>@Html.ActionLink("Create an account", "Register")</h5>
      <h5>@Html.ActionLink("Log in", "Login")</h5>
  }
</div>