@await Html.PartialAsync("LoginModal")
@await Html.PartialAsync("RegisterModal")


@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <button type="submit" class="red" value="Log out"></button>
  }
}
else
{

}
<button onclick="showModal('login')">Log in</button>
<button onclick="showModal('register')">Register</button>