@{
    ViewData["Title"] = "Log In";
}

@await Html.PartialAsync("LoginModal")
@await Html.PartialAsync("RegisterModal")

@model DiLPr.Models.AppUser

@if (User.Identity.IsAuthenticated)
{
  <h2 style="font-size: 40px;">Hello @User.Identity.Name!</h2>
} 
else
{
  <button onclick="showModal('login')">Log in</button>
  <br><br>
  <button class="red" onclick="showModal('register')">Register</button>
}