@{
  Layout = "_Layout";
}

@model DiLPr.Models.Tag

<h4>Add a new tag</h4>

@using (Html.BeginForm())
{
  <p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600; color:red;" })</p>
  @Html.Label("Tag: ")
  @Html.TextBoxFor(model => model.Name)
  <br><br>
  <input type="submit" value="Add new tag" id="green-button"/>
}