@{
    ViewData["Title"] = "Homeward Bound";
}

@if (User.Identity.IsAuthenticated)
{
  <div class="text-center">
    <h1 class="display-4">Welcome to DiLPr</h1>
  </div>

  <div class="cardcontainer list">
    <ul class="cardlist">
      <li class="card current">
      <div class="dog-profile">
        <h2>Max</h2>
        <p>Age: 3 years old</p>
        <p>Interests: Playing fetch, going for long walks.</p>
        <img src="https://images.pexels.com/photos/3196887/pexels-photo-3196887.jpeg" alt="Max" />
      </div>
      </li>
      <li class="card">#2</li>
      <li class="card">#3</li>
      <li class="card">#4</li>
      <li class="card">#5</li>
      <li class="card">#6</li>
    </ul>
    <button class="but-nope">❌</button>
    <button class="but-yay">✔️</button>
  </div>
}
else
{
  <h1>Dog-gone it!</h1> //sad dog face goes here//
  <h5>You must log in or create an account to view pups in your area</h5>
}